@font-face {
  font-family: 'bebas neue';
  src: url(../assets/fonts/BebasNeue-Bold.otf);
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: 'bebas neue';
  src: url(../assets/fonts/BebasNeue-Regular.otf);
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'bebas neue';
  src: url(../assets/fonts/BebasNeue-Book.otf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'bebas neue';
  src: url(../assets/fonts/BebasNeue-Light.otf);
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'bebas neue';
  src: url(../assets/fonts/BebasNeue-Thin.otf);
  font-style: normal;
  font-weight: 100; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Quicksand', sans-serif; }

/* -------------------BARRA NAV--------------- */
header {
  position: sticky;
  top: 0px;
  z-index: 100; }

header nav a img {
  width: 150px; }

#navbarNav .enlace-nav {
  font-family: 'bebas Neue';
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0px 15px;
  letter-spacing: 3px;
  color: #000000fc;
  transition: all 0.2s ease; }
  #navbarNav .enlace-nav:hover {
    color: #BEE42A;
    transition: all 0.2s ease; }

.navbar-light .btn-menu {
  border-radius: 0px;
  border: 1px solid #f85959; }

/* ----------PRESENTACION---------- */
#presentacion {
  margin-top: 2rem;
  margin-bottom: 10rem;
  position: relative;
  /* height: 58vh; */ }
  #presentacion .wave {
    position: absolute;
    width: 100%;
    bottom: -38%; }

.container-presentacion {
  margin-top: 3rem;
  margin-bottom: 2rem; }
  .container-presentacion h1 {
    margin-bottom: 1.4rem;
    font-family: 'bebas neue';
    font-weight: 800;
    letter-spacing: 2px;
    margin-right: 10px; }
  .container-presentacion #ohwa {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 400; }
  .container-presentacion span {
    color: #f85959;
    font-weight: 800;
    letter-spacing: 2px; }
  .container-presentacion h4 {
    margin-bottom: 1.4rem;
    font-family: 'bebas neue';
    font-weight: 400;
    font-size: 1.6rem;
    margin-right: 20px;
    color: #525252; }
  .container-presentacion .boton-home {
    margin-bottom: 1.4rem;
    border-radius: 50px;
    color: #f85959;
    background-color: transparent;
    border: 1px solid #f85959;
    transition: all 0.2s ease;
    font-size: 1.1rem;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
    -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
    box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536); }
    .container-presentacion .boton-home:hover {
      color: #ffffff;
      background-color: #f85959;
      border: 1px solid #f85959;
      transition: all 0.2s ease;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536); }

.container-presentacion-img .mancha-verde {
  width: 250px;
  position: absolute;
  top: 60px;
  right: 150px; }

.container-presentacion-img .cohete {
  width: 500px;
  position: relative; }

/* -------------------HOME--------------- */
#principal {
  margin-top: 6rem;
  background-color: #e4e4e453; }

.container-img-ppl img {
  width: 380px;
  height: 380px; }

.container-principal .p-principal h2 {
  margin-top: 1rem;
  font-family: 'bebas neue';
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 28px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #525252; }

.container-principal .p-principal p {
  font-weight: 600;
  font-size: 1.3rem;
  color: #525252; }

.container-principal #md {
  color: #000000fc; }

.container-principal #pno {
  color: #BEE42A; }

.container-principal .btn-principal {
  border-radius: 50px;
  color: #f85959;
  background-color: #e4e4e453;
  border: 1px solid #f85959;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536); }
  .container-principal .btn-principal:hover {
    color: #ffffff;
    background-color: #f85959;
    border: 1px solid #f85959;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536); }

/* -------------------SERVICIOS--------------- */
#servicios {
  margin-bottom: 10rem;
  /*     background-image: url(../assets/img/formas/tildes-rosa.svg), url(../assets/img/formas/forma-rosa.svg);
    background-size: 300px 180px, 300px 400px;
    background-position: 0% 100%, 105% -10%;
    background-repeat: no-repeat, no-repeat; */ }

.container-servicios h3 {
  font-family: 'bebas neue';
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #f85959;
  text-shadow: 0px 3px 2px rgba(82, 82, 82, 0.735); }

.container-servicios h4 {
  width: 600px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 30px;
  font-size: 1.2rem; }

.container-detalles {
  border: none;
  background-color: #BEE42A;
  border-radius: 10px;
  transition: all 0.2s ease;
  /*     width: 250px;
    height: 200px;
    margin: 0 auto; */ }
  .container-detalles:hover {
    -webkit-box-shadow: 10px 13px 0px 0px #f85959;
    -moz-box-shadow: 10px 13px 0px 0px #f85959;
    box-shadow: 10px 13px 0px 0px #f85959;
    transition: all 0.2s ease; }

.container-detalles i {
  font-size: 2.5rem;
  color: #f85959; }

.container-detalles h2 {
  font-family: 'bebas neue';
  font-weight: 600;
  font-size: 1.7rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 3px 2px rgba(82, 82, 82, 0.735); }

.container-detalles .btn-plac {
  color: #f85959;
  background-color: transparent;
  border: 1px solid #f85959;
  border-radius: 25px;
  transition: all 0.2s ease; }
  .container-detalles .btn-plac:hover {
    color: #ffffff;
    background-color: #f85959;
    transition: all 0.2s ease; }

.columna-modal h3 {
  font-family: 'bebas neue';
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2rem;
  color: #f85959;
  text-shadow: 0px 3px 2px rgba(82, 82, 82, 0.735); }

/* ---------STAFF------- */
#staff {
  background-color: #e4e4e453; }
  #staff h3 {
    font-family: 'bebas neue';
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: #f85959;
    text-shadow: 0px 3px 2px rgba(82, 82, 82, 0.735); }

.card-staff {
  border: none;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536); }
  .card-staff:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
    transition: all 0.2s ease; }
  .card-staff a i {
    font-size: 2.5rem; }
  .card-staff h4 {
    font-family: 'bebas neue';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #BEE42A;
    margin-bottom: 5px;
    /* text-shadow: 0px 3px 2px rgba(82, 82, 82, 0.735); */ }
  .card-staff h5 {
    font-style: italic;
    font-weight: 200;
    font-size: 1.1rem;
    color: #525252; }

/* ---------CONTACTO------- */
#contacto h3 {
  font-family: 'bebas neue';
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3.5rem;
  color: #f85959;
  text-shadow: 0px 3px 2px #525252bb; }

.container-formulario {
  margin: 0 auto; }

.formulario-focus {
  border-radius: 10px; }

.formulario-focus:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #f85959;
  -moz-box-shadow: 0px 0px 0px 1px #f85959;
  box-shadow: 0px 0px 0px 1px #f85959;
  background-color: #e4e4e453;
  border-color: transparent; }

.formulario .boton {
  border-radius: 50px;
  color: #f85959;
  background-color: transparent;
  border: 1px solid #f85959;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.536); }
  .formulario .boton:hover {
    color: #ffffff;
    background-color: #f85959;
    border: 1px solid #f85959;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.536); }

/* ----------FOOTER---------- */
.container-footer {
  background-color: #494949; }
  .container-footer .container-redes {
    height: 30px; }
    .container-footer .container-redes i {
      width: 30px;
      height: 20px;
      font-size: 1.5rem;
      color: #ffffff;
      transition: all 0.2s ease; }
      .container-footer .container-redes i:hover {
        color: #BEE42A;
        transition: all 0.2s ease;
        font-size: 2rem; }
  .container-footer .container-datos i {
    color: #ffffff;
    font-size: 1.3rem; }
  .container-footer .container-datos p {
    color: #ffffff; }

.container-copy {
  background-color: #353535;
  color: #ffffff; }
  .container-copy a {
    color: white;
    text-decoration: none; }

/* -------------------BOTON WHATSAPP Y ARROW--------------- */
.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #f85959;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75); }
  .whatsapp:hover {
    background-color: #ffffff;
    color: #f85959;
    transition: all 0.2s ease; }

.whatsapp-icon {
  margin-top: 10px; }

.arrow {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 120px;
  right: 40px;
  background-color: #f85959;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 110;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75); }
  .arrow:hover {
    background-color: #ffffff;
    color: #f85959;
    transition: all 0.2s ease; }

.flecha {
  margin-top: 10px; }

/* ---------MEDIA QUERIES------- */
@media only screen and (min-width: 300px) {
  .container-servicios p {
    width: 320px; }
  .container-presentacion-img .mancha-verde {
    display: block;
    width: 150px;
    position: absolute;
    top: 40px;
    right: 110px; }
  .container-presentacion-img .cohete {
    width: 350px;
    position: relative; }
  .container-img-ppl img {
    width: 280px;
    height: 280px; }
  #presentacion .wave {
    position: absolute;
    width: 100%;
    bottom: -26%; } }

@media only screen and (min-width: 432px) {
  .container-servicios p {
    width: 390px; }
  .container-presentacion-img .mancha-verde {
    display: block;
    width: 170px;
    position: absolute;
    top: 60px;
    right: 110px; }
  .container-presentacion-img .cohete {
    width: 420px;
    position: relative; }
  .container-img-ppl img {
    width: 320px;
    height: 320px; } }

@media only screen and (min-width: 600px) {
  .container-servicios p {
    width: 500px; }
  .container-presentacion-img .mancha-verde {
    width: 250px;
    position: absolute;
    top: 60px;
    right: 150px; }
  .container-presentacion-img .cohete {
    width: 480px;
    position: relative; }
  .container-img-ppl img {
    width: 370px;
    height: 370px; }
  #presentacion .wave {
    position: absolute;
    width: 100%;
    bottom: -24%; } }

@media only screen and (min-width: 767px) {
  .container-servicios p {
    width: 600px; }
  .container-presentacion-img .mancha-verde {
    display: block;
    width: 250px;
    position: absolute;
    top: 60px;
    right: 300px; }
  .container-presentacion-img .cohete {
    width: 500px;
    position: relative; }
  .container-img-ppl img {
    width: 400px;
    height: 400px; }
  #presentacion .wave {
    position: absolute;
    width: 100%;
    bottom: -26%; } }

@media only screen and (min-width: 992px) {
  .container-servicios p {
    width: 600px; }
  .container-presentacion-img .mancha-verde {
    display: block;
    width: 250px;
    position: absolute;
    top: 60px;
    right: 150px; }
  .container-presentacion-img .cohete {
    width: 500px;
    position: relative; }
  .container-img-ppl img {
    width: 420px;
    height: 420px; }
  #presentacion .wave {
    position: absolute;
    width: 100%;
    bottom: -46%; }
  .container-principal .p-principal h2 {
    margin-top: 4rem; } }
