@font-face{
    font-family: 'bebas neue';
    src: url(../assets/fonts/BebasNeue-Bold.otf);
    font-style: normal;
    font-weight: 800;
}
@font-face{
    font-family: 'bebas neue';
    src: url(../assets/fonts/BebasNeue-Regular.otf);
    font-style: normal;
    font-weight: 600;
}


@font-face{
    font-family: 'bebas neue';
    src: url(../assets/fonts/BebasNeue-Book.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'bebas neue';
    src: url(../assets/fonts/BebasNeue-Light.otf);
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: 'bebas neue';
    src: url(../assets/fonts/BebasNeue-Thin.otf);
    font-style: normal;
    font-weight: 100;
}