//colores
$colorRosa: #F85959;
$colorVerde: #BEE42A;
$colorNegro: #000000fc;
$colorGris: #707070;
$colorGrisOscuro: #494949;
$colorBlanco: #ffffff;
//colores

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/* -------------------BIENVENIDOS--------------- */


#bienvenidos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
        
    img{
        margin-right: 4rem;
        width: 300px;
        filter: drop-shadow(20px 20px 10px rgba(68, 68, 68, 0.598));
        cursor: pointer;
          
    }
    .container-bienvenidos{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        #slogan{
            width: 350px;
            height: 100px;
            background-color: black;
            border-radius: 5px;
            -webkit-box-shadow: 15px 12px 0px 4px $colorVerde;
            -moz-box-shadow: 15px 12px 0px 4px $colorVerde;
            box-shadow: 15px 12px 0px 4px $colorVerde;
            filter: drop-shadow(20px 20px 10px rgba(68, 68, 68, 0.598));
            h1{
            font-family: 'Bebas Neue', cursive;
            padding: 8px 8px;
            margin: 0px;
            font-weight: 100;
            letter-spacing: 3px;
            color: $colorBlanco;
            font-size: 2rem;
            /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.253); */
            }
        }
            a{
                margin-top: 5rem;
            }
            .botonVerSitio{
                font-weight: 500;
                font-size: 1.2rem;
                border-radius: 50px;
                color: $colorRosa;
                background-color:transparent;
                border: 1px solid $colorRosa;
                &:hover{
                    color: $colorBlanco;
                    background-color: $colorRosa;
                    -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.575);
                    -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.575);
                    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.575);
                }
            }
    }
}

/* -------------------FIN BIENVENIDOS--------------- */

/* -------------------PRINCIPAL--------------- */

#principal{
    /* background-color: blue; */

    a img{
        width: 90px;
    }
}

.navegacion{
    position: sticky;
    top: 0px;
    -webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.575);
    -moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.575);
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.575);
    z-index: 99;
}

/* ----------QUIENES SOMOS--------- */

#quienes-somos h1{
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    letter-spacing: 3px;
    color: $colorVerde;
    text-shadow: 1px 3px 3px rgb(0, 0, 0);
    filter: drop-shadow(10px 10px 10px rgba(68, 68, 68, 0.42));
}

#quienes-somos p{
    padding-right: 60px;
    font-weight: 500;
    line-height: 25px;

}






/* ----------CARDS PRESENTACION--------- */
.container-cards{
    margin-top: 20px;
    margin-bottom: 50px;
        .cartas-objetivos{
            border: none;
            background-color: $colorVerde;
            -webkit-box-shadow: 0px 0px 0px 0px $colorRosa;
            -moz-box-shadow: 0px 0px 0px 0px $colorRosa;
            box-shadow: 0px 0px 0px 0px $colorRosa; 
            transition: all 0.2s ease;
            /* filter: drop-shadow(20px 20px 10px rgba(68, 68, 68, 0.598)); */
            &:hover{
                -webkit-box-shadow: 15px 12px 0px 4px $colorRosa;
                -moz-box-shadow: 15px 12px 0px 4px $colorRosa;
                box-shadow: 15px 12px 0px 4px $colorRosa;
                transition: all 0.2s ease;
            }
            img{
                width: 220px;
            }
        }
}

/* -------------------SERVICIOS--------------- */

#servicios{
    background-color:red;
    height: 100vh;
}


/* -------------------BOTON WHATSAPP--------------- */
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color: $colorRosa;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }




